*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* ---------------Shared-Styles--------------- */
button:hover{
    cursor: pointer;
}


/* ---------------Navbar-Related-Styles--------------- */
nav{
    background-color: #1A0B2E;
    border-bottom:1px solid #6536a3;
}
.navbar-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
#brand-name{
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
}
.navbar-container img{
    display: none;
}
.links-container{
    list-style: none;
    display: flex;
    gap: 32px;
    color: white;
    font-weight: 500;
    line-height: 120%;
}
.navbar-container button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    border-radius: 10000px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ---------------Banner-Related-Styles--------------- */
.banner {
  background-color: #1A0B2E;
  display: flex;
  justify-content: center;
}
.banner-container{
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* max-width: 1600px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#badge{
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);

    position: absolute;
    top: 5%;
    right: 10%;
}
#badge p{
    color: #1A0B2E;
}
.banner-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 558px;
    /* border: 2px solid white; */
}
#banner-image-container{
    width: 350px;
    height: 350px;
    /* border: 2px solid white; */
    background-image: url(../assets/hero-circle.png);
    padding: 69px 75px 81px 75px;
    position: relative;
}
#mic{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mic img{
    width: 117px;
    height: 175px;
}
.banner-content-container h1{
    color: white;
    font-weight: 800;
    font-size: 3.75rem;
    margin-top: 25px;
}

.banner-content-container p{
    line-height: auto;
    color: white;
    font-size: 1rem;
    /* white-space: nowrap; */
}

.banner-content-container .banner-btn-container{
    margin-top: 35px;
    /* border: 2px solid white; */
    display: flex;
    gap: 8px;
}

.banner-btn-container button{
    width: 201px;
    height: 44px;
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    border-radius: 10000px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.banner-btn-container #green-btn{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    color: #00FF88;
    font-weight: 600;
    border-radius: 10000px;
    border: 2px solid #00FF88;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ---------------Podcast-Related-Styles--------------- */

.podcast{
    background-color: #1A0B2E;
    /* border: 2px solid white; */
}
.podcast-container{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 120px;
}
.podcast-title{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: auto;
}

.podcast-description{
    margin-top: 16px;
    color: white;
    line-height: 20px;
    font-size: 1rem;
    /* border: 2px solid white; */
}

.podcast-container hr{
    color: #ffffff2f;
    margin-top: 80px;
}
.podcast-rating{
    margin-top: 80px;
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
}
.rating-card{
    width: 240px; 
    height: 94px;
}
.rating-card h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.rating-card p{
    margin-top: 6px;
    color: white;
    line-height: 20px;
    font-size: 1rem;
}


/* ---------------Choose-Related-Styles--------------- */
.choose{
    background-color: #230E3D;
    /* border: 2px solid white; */
}
.choose-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-title{
    color: white;
    font-size: 3rem;
    line-height: auto;
    font-weight: 700;
    text-align: center;
}

.choose-card{
    padding: 40px;
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.choose-card img{
    width: 60px;
    height: 60px;
}
.choose-card .choose-card-title{
    font-size: 1.5rem;
    color: white;
    line-height: auto;
    font-weight: 700;
    margin-top: 16px;
}
.choose-card .choose-card-description{
    line-height: 24px;
    color: white;
    margin-top: 16px;
}

#headphone{
    grid-area: headphone;
}
#device{
    grid-area: device;
}
#location{
    grid-area: location;
}
#bizli{
    grid-area: bizli;
}
#resource{
    grid-area: resource;
}

.choose-card-container{
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    "headphone device device"
    "headphone location location"
    "bizli    bizli  resource";
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}


/* ---------------Episode-Related-Styles--------------- */

.episode{
    background-color: #1A0B2E;
    /* border: 2px solid white; */
}

.episode-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid white; */
    padding-top: 120px;
    padding-bottom: 120px;
}

.episode-title{
    color: white;
    font-size: 3rem;
    line-height: auto;
    font-weight: 700;
    text-align: center;
}

.episode-video-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* border: 2px solid white; */
}
.video-card{
    width: 380px;
    /* height: 440px; */
    border-radius: 40px;
    background-color: #250D44;
    overflow: hidden;
}
.video-card iframe{
    width: 100%;
    height: 214px;
}
.video-info{
    padding: 24px;
    text-align: left;
}
.video-title{
    font-size: 1.5rem;
    color: white;
    line-height: auto;
    font-weight: 700;
}
.video-description{
    font-size: 1rem;
    line-height: 24px;
    color: white;
    margin-top: 8px;
}
.time-container{
    display: flex;
    gap: 6px;
    margin-top: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
}
.time-container img{
    width: 16px;
    height: 16px;
}
.time{
    color: #00FF88;
    font-weight: 600;
}

.meet-host{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
}
.host-card{
    background-color: #230E3D;
    border-radius: 40px;
    margin-top: 40px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.host-card-info{
    width: 896px;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.host-info{
    margin-top: 16px;
    color: white;
    font-size: 1rem;
    line-height: 24px;
}
.host-links{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 184px;
}
.host-links div{
    border: 2px solid #533C72;
    border-radius: 50%;
    padding: 10px;
}
.host-links div:hover{
    cursor: pointer;
}


/* ---------------Footer-Related-Styles--------------- */

footer{
    background-color: #230E3D;
    /* border: 2px solid white; */
}

.footer-container{
    height: 412px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* max-width: 1600px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px;
    padding-top: 90px;
}

.footer-title{
    font-size: 4rem;
    font-weight: 700;
    color: white;
    /* border: 1px solid red; */
}
.footer-link-container{
    display: flex;
    justify-content: space-between;
    width: 630px;
    /* border: 2px solid white; */
    margin-top: 30px;
}
#apple{
    width: 150px;
}
.footer-link-container .link{
    width: 100px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    justify-content: space-around;
}
.footer-link-container .link:hover{
    cursor: pointer;
}
.link p{
    color: white;
}
.copy-right{
    margin-top: 40px;
    color: white;
}












/* ---------------Media-Query[Small-Device]--------------- */
@media screen  and (max-width:576px) {
    nav{
        padding: 20px;
    }
    .navbar-container{
        height: 60px;
    }
    .links-container{
        display: none;
    }
    .navbar-container img{
    display: block;
    width: 24px;
    height: 24px;
    }
    .navbar-container button{
    display: none;
    }
    .banner-content-container{
    width: 400px;
    height: 386px;
    /* border: 2px solid white; */
    margin-top: 100px;
    }
    #banner-image-container{
    width: 200px;
    height: 200px;
    padding: 60PX;
    position: relative;
    background-size: contain;
    }
    #mic{
    width: 80px;
    height: 80px;
    }
    #mic img{
    width: 47px;
    height: 70px;
    }
    .banner-content-container p{
    line-height: auto;
    color: white;
    font-size: 1rem;
    text-align: center;
    }

    .podcast-container{
    padding: 40px 20px;
    }
    .podcast-title{
    font-size: 2rem;
    }
    .podcast-container hr{
    margin-top: 40px;
    }
    .podcast-rating{
    margin-top: 40px;
    /* border: 2px solid red; */
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    place-items:center;
    }
    .rating-card{
    width: 100%; 
    }
    .rating-card h2{
    font-size: 30px;
    }
    .rating-card p{
    margin-top: 6px;
    color: white;
    line-height: 20px;
    font-size: 10px;
    }

    .choose-container{
    max-width: 400px;
    width: 100%;
    /* border: 2px solid white; */
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .choose-title{
    font-size: 2rem;
    }
    .choose-card-container{
    max-width: 400px;
    width: 100%;
    margin-top: 16px;
    grid-template-areas: 
    "headphone"
    "device"
    "location"
    "bizli"
    "resource";
    gap: 16px;
    padding: 0 20px;
    }
    
    .episode-video-container{
    flex-direction: column;
    align-items: center;
    }

    .episode-container{
    padding: 40px 20px;
    }
    .episode-title{
    font-size: 2rem;
    }
    .episode-video-container{
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    }
    .video-card{
    width: 100%;
    }
    .video-card iframe{
    width: 100%;
    height: 225px;
    /* height: 100%; */
    }

    .meet-host{
    font-size: 2rem;
    margin-top: 60px;
    }
    .host-card{
    margin-top: 24px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    }
    .host-image{
        height: 150px;
        width: 150px;
    }
    .host-card-info{
    width: 100%;
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer-container{
    padding: 0;
    }
    .footer-title{
    font-size: 2.5rem;
    }
    .footer-link-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 266px;
    margin-top: 50px;
    place-items: center;
    }
    .copy-right{
    margin-top: 40px;
    white-space: nowrap;
    }
}
